
<!-- Ne app.module.ts kena inprotuar FormsModule, i cili na lejon ne qe te krijom nje input me ndimen e ngModel ku ne e marim inputin te cilen e kena deklaruar ne komponent qe eshte bosh, dhe te trasferojme te newPost, kur i japim save post input qe shkruam te ngModel te shfaqet ne paragraf -->

<!--  mat-raised-button eshte nje antribute qe lidhet me librarin MatButtonModule dhe e ben butonin te jete ne formen e nje drejtekendeshi -->

<!-- All of the attributes that can be used with normal <input> and <textarea> elements can be used on elements inside <mat-form-field> as well. This includes Angular directives such as ngModel and formControl. -->

<!--The most basic card needs only an <mat-card> element with some content. However, Angular Material provides a number of preset sections that you can use inside of an <mat-card>:-->

<!-- mat-form-field eshte nje soj si div vetem se ketu jena duke perdor angular material -->

<!-- SHUM E RENDESISHME, pa librarin  FormsModule, antributi [(ngModel)]="enteredTitle" nuk punon dhe ngModel, por nese stojme nje <form></form> [(ngModel)]="enteredTitle" ndryshon dhe behet ngModel  -->

<!-- required atomatikisht kur inputi eshte bosh ose kur na nje gabim nga plu qe eshte viza e inputit ne ekarn  behet e kuqe, kete ben required -->

<!--  *ngIf="f.getControl('title').invalid" == me *ngIf="title.invalid" nese input ka brenda nje #title="ngModel" i cili kontrollon inputit nese eshte bosh apo ka gabime ne minlength, dhe nese ka do ta sinjalizoj useri: Please enter the post title.  -->

<!-- mat-error eshte nje funksion i angular material, po ta shikojm nuk po perdor bootstrap vetem funksionet e angular material -->

<!-- (submit)="onAddPost(f)" #f="ngForm", ngModel brenda inputeve dhe type="submit" te butoni bejne te mundur qe te main informacionin qe do shkruhet ne input dhe ta trasferojne ne komponent ku nga aty do trasferohet ne componente te ndyshem ose service  -->

<!-- dikur ngmodel nga [ngModel]="post?.title" ka qen ngModel. Ky ndyshim u be, sepse ne duam qe ngModel na funksionojme ne dy menyra, ne menyren e para kur duam te krijome nje post dhe ngmodel mer informacionin ku e trasferon ne componet dhe ne rastin e dyte kur kete post qe sapo kena krijuar duam ta bejme edit ose update, pra marim post nga database i cili eshte regjistrua ne mongodb dhe duam ta traferojme brenda inputit html me ndimen e [ngModel]="post.title" i cili i ben te dyja funksione, per ta modifikur posten dhe per ta shtur ne database te modifikur ose te bere update ose edit, nje nga keto te treja. -->

<!-- [ngModel]="post?.title", po te vem re kena nje ?, pakete funksioni post-create del error, sepse po perdorim vetem nje ngModel me dy fuksione -->

<!-- *ngIf="isLoading" kjo do te thote qe isLoading eshte true | *ngIf="!isLoading" kjo tregon qe eshte false -->

<!-- SHENIM: Ne app.module.ts kena fshire FormModule dhe e kena zvendesu me ReactiveFormsModule, per te mbar cfar do lloj vlere nga input, keshtu qe kena fshire ngModel, required minLength dhe e kena zvendesu me formControlName="title" ku cdo vlere qe shkrujme brenda input i kontrollojme ne post-create.content.ts nga  this.form = new FormGroup, ku vlerat qe marim i shtojme ne route dhe onsSavePost()-->

<!-- matInput is a directive that allows native <input> and <textarea> elements to work with <mat-form-field>.  -->
<!-- The following input types can be used with matInput: color, date, datetime-local, email, month, number, password, search, tel, text, time, url, week -->

<!--  name="title", vendoset nje name sepse angulari do te di se cili input nga Post array behet fjale  -->

<!-- Po te vem re kena dy isLoading, nje eshte !isLoading dhe nje eshte isLoading. Cfare japin keto te dyja. Kur allikacioni eshte duke kerkur nje faqe, ne kete rast faqen singup, nese vonon, ne ekan shfaqet nje spinner, per aq kohe sa pc i duhet te shfaqi informacionin qe ekran, ne momentin qe e shfaqet spineri zhduket prandaj ka dy isLoading, nje true dhe nje false. -->

<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSingup(singupForm)" #singupForm="ngForm"  *ngIf="!isLoading">
      <mat-form-field>
          <input matInput
                 name="email"
                 type="email"
                 required
                 email
                 ngModel
                 placeholder="E-Mail"
                 #emailInput="ngModel">
                 <mat-error *ngIf="emailInput.invalid" >Please enter a valid email.</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input type="password"
                 matInput
                 name="password"
                 ngModel
                 required
                 #passwordInput
                 placeholder="Password">
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button
              *ngIf="!isLoading"
              mat-raised-button
              color="primary"
              type="submit"
              >SingUp
      </button>

    </form>
  </mat-card>


